<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <i class="fa fa-users fa-3x text-center mt-3" aria-hidden="true"></i>
        <div class="card-body text-center">
          <h5 class="card-title ">Users</h5>
          <p class="card-text ">Users: {{allUsers()}}
            <br>
            Active users: {{activeUsers()}}
            <br>
            Inactive users: {{inactiveUsers()}} </p>
          <a routerLink="/users" class="btn btn-primary">Users</a>
        </div>
      </div>

    </div>
    <div class="col-4">


      <div class="card" style="width: 18rem;">
        <i class="fa fa-balance-scale fa-3x text-center mt-3" aria-hidden="true"></i>
        <div class="card-body text-center">
          <h5 class="card-title ">Balance</h5>
          <p class="card-text ">Summed balance: {{usersBalance()}} </p>
          <a routerLink="/users" class="btn btn-primary">Users</a>
        </div>
      </div>
    </div>
    <div class="col-4">

      <div class="card" style="width: 18rem;">
        <i class="fa fa-apple fa-3x text-center mt-3" aria-hidden="true"></i>
        <div class="card-body text-center">
          <h5 class="card-title ">Favorite fruit</h5>
          <p class="card-text "> Apple: {{favoriteFruitApple()}}
            <br>
            Strawberry: {{favoriteFruitStrawberry()}}
            <br>
            Banana: {{favoriteFruitBanana()}}</p>
          <a routerLink="/users" class="btn btn-primary">Users</a>
        </div>
      </div>
    </div>
  </div>
</div>
