<div class="col-sm-12 footer">
    <div class="row">
        <div class="col-sm-7 seven-three">
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="text-uppercase">Opening hours</h5>
          &nbsp;
          <p>1111 Budapest</p>
          <p> Budafoki street 56. </p>
          <p> Call us now: +36 20 234 56 78 </p>
          <p>Email: info@fishintheweb.eu</p>
          <p>Please feel free to contact us.</p>
        </div>
        <div class="col-sm-4">
            <h5 class="text-uppercase">Special price</h5>
            &nbsp;

            <ul class="list-unstyled">
            <li>
                <a href="http://localhost:4200/products/fishes">Fishes</a>
            </li>
            <li>
                <a href="http://localhost:4200/products/plants">Plants</a>
            </li>
            <li>
                <a href="http://localhost:4200/products/corals">Corals</a>
            </li>
            <li>
                <a href="http://localhost:4200/products/tools">Tools</a>
            </li>
            <li>
                <a href="http://localhost:4200/products/aquariums">Aquariums</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
    <img src="http://www.pngmart.com/files/5/Nemo-PNG-File.png" alt="Nemo" width="80%">
</div></div>
</div>
    <div class="col-sm-5 five-two">
      <div class="row">
        <div class="col-sm-6"><h5 class="text-uppercase">Links</h5>
            &nbsp;

            <ul class="list-unstyled">
              <li>
                <a href="#!">How to clean your aquarium?</a>
              </li>
              <li>
                <a href="#!">How can you move your aquarium?</a>
              </li>
              <li>
                <a href="#!">What kind of food prefer your fishes?</a>
              </li>
              <li>
                <a href="#!">What kind of plant need?</a>
              </li>
              <li>
                <a href="#!">Fish diseases</a>
              </li>
            </ul></div>
        <div class="col-sm-6">
                <h5 class="text-uppercase">payments</h5>
                &nbsp;

                <img src="https://img.pngio.com/how-does-paypal-work-paypal-png-510_231.jpg" alt="Flowers in Chania" width="200" height="100">
        

            </div>
            </div>
    </div>
</div>
<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2019 Copyright:
  <a href="https://mdbootstrap.com/education/bootstrap/"> Fish In The Web</a>
</div>
<!-- Copyright -->
</div>
