<h1 class="mt-5 mb-5 text-center">Edit User</h1>
<form class="text-center" action="">
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Firstname</h4>
      </label>
      <input name="firstname" [(ngModel)]="user.name.first" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Lastname</h4>
      </label>
      <input name="lastname" [(ngModel)]="user.name.last" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Active</h4>
      </label>
      <input name="active" [(ngModel)]="user.isActive" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Age</h4>
      </label>
      <input name="age" [(ngModel)]="user.age" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Email</h4>
      </label>
      <input name="email" [(ngModel)]="user.email" type="email" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Phone</h4>
      </label>
      <input name="phone" [(ngModel)]="user.phone" type="tel" class="form-control">
    </div>
  </div>
  <button class="btn btn-secondary" (click)="onUpdate(user)">Save</button>
</form>
