extends layout

block content
  h1 Contact us!
  .container
    .row
     .col
        form
          .form-group
            label(for='exampleFormControlInput1') Email address
            input#exampleFormControlInput1.form-control(type='email', placeholder='name@example.com')
          .form-group
            label(for='exampleFormControlTextarea1') Write us!
            textarea#exampleFormControlTextarea1.form-control(rows='3', placeholder='Write something..')
          a.btn.btn-success Send
