.card-img-top {
  min-height: 200px;
  height: 15vw;
  object-fit: cover;
  width: 100%;
}
.card {display:inline-block;}
.card {
  background-image: url("../../../../assets/seamless-underwater-texture-sand-texture-5c745188eb0f7.png");
}
