<h1 class="mt-5 mb-5 text-center">Add User</h1>
<form class="text-center" action="">
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Firstame</h4>
      </label>
      <input name="name" [(ngModel)]="newUser.name.first" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Lastame</h4>
      </label>
      <input name="name" [(ngModel)]="newUser.name.last" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Active</h4>
      </label>
      <input name="active" [(ngModel)]="newUser.isActive" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Age</h4>
      </label>
      <input name="age" [(ngModel)]="newUser.age" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Email</h4>
      </label>
      <input name="email" [(ngModel)]="newUser.email" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-6 offset-3">
      <label for="">
        <h4>Phone</h4>
      </label>
      <input name="phone" [(ngModel)]="newUser.phone" type="tel" class="form-control">
    </div>
  </div>
  <button class="btn btn-secondary" (click)="onAdd()">Save</button>
</form>
